body {font-family: 'open sans'; font-size: 18px;}
.hashtag { color: #ccc;}
.highlight { color: rgba(224,21,99,0.8);}
.box {  border-top: 1px solid #aaa; padding: 10px 0;}
p { word-wrap: break-word; padding: 0px margin: 0px;}
p.username { color: #aaa; margin: 10px 0 0 0; font-size: 14px;}
p.meta { font-size: 13px; font-style: italic;}
.clear { clear: both;}
.fa-question {font-size: 20px;}
span.tooltip-highlight { border-bottom: 1px dashed #aaa;}