* {
font-family: "Source Sans Pro","Helvetica Neue",Helvetica,sans-serif;
  /*font-family: 'Sorts Mill Goudy', serif;*/
  font-size: 1.15em;
}
body {
	background-image: url('http://codebuddies.org/images/nightsky.jpg');
	background-size: cover;
	color: #fff;
}
.container { background: #fff; color: #000; padding: 0px; margin-top:30px;} 
a:link, a:visited { font-size: 1em; color: #1E90FF;}
p { margin: 10px 0; line-height: 1;}
.fineprint { font-size: .7em; line-height: 1; margin-top: 10px;}

ul li { font-size: 1em;}
div.input-group { margin: 10px 0; width: 90%;}
textarea.form-control { font-size: .7em; width: 100%; border: 3px solid #ccc; min-height: 180px; color: #000;}
strong { font-size: 1em;}
input[type="checkbox"] { font-size: .5em;}
h1 {margin: 30px 0 20px 0; font-size: 2.4em; text-align: center;}
label { font-size: .8em; font-weight: 400;}
.btn-primary {font-size: 1em; margin-top: 10px; background: #1E90FF;}
.fineprint { font-size: .6em;}